/.idea
/.venv
/1600K.dump
/1600K.xyz
/1_0_0_nlayers11_Cl12Li6Y2.vasp
/1_0_0_nlayers12_Cl12Li6Y2.vasp
/1_0_0_nlayers13_Cl12Li6Y2.vasp
/1_0_0_nlayers13_Cl24Li12Y4.vasp
/1_0_0_nlayers14_Cl24Li12Y4.vasp
/1_0_0_nlayers15_Cl30Li15Y5.vasp
/1_0_0_nlayers18_Cl36Li18Y6.vasp
/1_0_0_nlayers21_Cl42Li21Y7.vasp
/1_0_0_nlayers24_Cl48Li24Y8.vasp
/a.png
/AsanoBi.cif
/auto_continue_vasp.sh
/B.cif_bvse.cube
/c.cif
/C.cif_bvse.cube
/c.png
/CONTCAR
/CONTCAR-112supercell.cif
/CONTCAR1.cif
/CONTCAR_Bi3_CONTCAR.cif
/dband_adsorption_data.csv
/dband_all_adsorption_english.pdf
/dband_all_adsorption_english.png
/dband_all_adsorption_english.svg
/descriptor_relationships.png
/descriptor_rules.csv
/dist_evolution_H_Cl.png
/dist_evolution_Li_Cl.png
/element.png
/element_custom_colors.png
/energy_diagram.png
/feature_importance_analysis.png
/guidao.png
/Li3InCl6.cif
/Li3InCl6.cif.grd
/Li3InCl6.cif_bvse.grd
/lingma-vscode-2.1.6.vsix
/neb_path_diagram_LIC-010.png
/neb_path_diagram_LIC-100.png
/neb_path_diagram_LIC-111.png
/neb_path_diagram_LIC-2H2O.png
/neb_path_diagram_LIC-3H2O.png
/neb_path_diagram_LIC-4H2O.png
/neb_path_diagram_LYC-100.png
/neb_path_diagram_LYC-110.png
/neb_path_diagram_LYC-2H2O.png
/neb_path_diagram_LYC-3H2O.png
/neb_path_diagram_LYC-4H2O.png
/neb_path_diagram_Path1
/neb_path_diagram_Path1-OtoO.png
/neb_path_diagram_Path2
/neb_path_diagram_Path2-OtoTtoO.png
/neb_path_diagram_Path3
/neb_path_diagram_Path3-OtoTtoO.png
/neb_path_diagram_Path4
/neb_path_diagram_Path4-OtoTtoO.png
/output
/pda.vasp
/PD_LixLa2O3.png
/POSCAR
/POSCAR_custom_surface
/POSCAR_TEST
/POTCAR
/predictions_analysis.png
/Q.cif
/Q.cif_bvse.cube
/QJHCONCAR.cif_bvse.cube
/QJHCONTCAR_Bi3-supercell.cif
/QJH_CONTCAT-Bi3-supercell.cif_bvse.cube
/result.dat
/sample_water_adsorption_data.csv
/Standard_RDF_H_Cl.png
/Standard_RDF_Li_Cl.png
/supercell.cif.grd
/supercell.cif_bvse.cube
/supercell.cif_bvse.grd
/tdos.png
/tiaojie-1_0_0_nlayers13_Cl24Li12Y4.vasp
/tiaojie2-1_0_0_nlayers13_Cl24Li12Y4.vasp
/tiaojie3-1_0_0_nlayers13_Cl24Li12Y4.vasp
/transport_results
/vasprun.xml
/vasprun1.xml
/z_distribution_0fs.png
/z_distribution_1000fs.png
/z_distribution_11200fs.png
/z_distribution_1200fs.png
/z_distribution_1500fs.png
/z_distribution_200fs.png
/z_distribution_500fs.png
/z_distribution_800fs.png